---
layout: default
---
<meta name="robots" content="noindex">

<div class="container" align="center">  
<div class="headline">
        <p><span>Who Am I?</span></p>
        <h2>My Journey So Far</h2>
</div> 
</div>
        <!-- <a href="#experience" class="button-scroll">scroll down</a> -->

<!-- _______________________ Profile Section _______________________ -->

<div class="container">
{% for profile in site.profile %}
        <div class="row">
            <div class="five columns" align="left">
                <ul class="personal-details">

<!-- Each of these refers to the YAML frontend of the profile.md file. You can create your own or edit these to suit -->

                    <li><strong>Name </strong>{{ profile.name }}</li>
                    <li><strong>Location </strong>{{ profile.location }}</li>
                    <li><strong>Language </strong>{{ profile.language }}</li>
                    <li><strong>Zodiac </strong>{{ profile.zodiac }}</li>
                    <li><strong>Born </strong>{{ profile.born }}</li>
                    <li><strong>Personality </strong>{{ profile.personality }}</li>
                    <li><strong>Favorite Song </strong><a href="https://youtu.be/VI57QHL6ge0" target="_blank">Always With Me, Always With You</a></li>
                            
                </ul>
            </div>
            
            <div class="seven columns">
        <h3>Professional Profile</h3>
        {{ profile.content }}
    </div>
    </div>

{% endfor %}

</div>      
    


<!-- Experience -->

<section class="u-full-width" id="experience"> 
<!-- Info below is the section heading and tagline -->
    <div class="container" align="center">  
    <div class="headline" align="center">
        <p><span>Professional Background</span></p>
        <h2>Exposure</h2>
    </div>
    </div>
    <div class="container">    
{% for experience in site.experience reversed %}
<!-- Info below is drawn in from the YAML front end -->
    <div class="row">
            <div class="five columns">
                <h2 class="date">{{ experience.period }}</h2>
                <h4 class="employer">{{ experience.employer }}</h4>
        </div>
        <div class="seven columns">
<!-- Info below is drawn in from the YAML title: and the content from the actual .md -->
        <h3>{{ experience.title }}</h3>
            {{ experience.content }}
        </div> 
     </div>
{% endfor %}
    </div>
        
<!-- Added Projects within Experience container -->
<!-- <section class="u-full-width" id="projects"> -->
<!-- Info below is the section heading and tagline -->
    <div class="container" align="center">  
    <div class="headline" align="center">
        <p><span>What Happens In The Lab</span></p>
        <h2>Projects</h2>
    </div>
    </div>
    <div class="container">    
{% for projects in site.projects reversed %}
<!-- Info below is drawn in from the YAML front end -->
    <div class="row">
            <div class="five columns">
                <h2 class="date">{{ projects.period }}</h2>
                <h4 class="projecttype">{{ projects.projecttype }}</h4>
            </div>
        <div class="seven columns">
<!-- Info below is drawn in from the YAML title: and the content from the actual .md -->
        <h3>{{ projects.title }}</h3>
            {{ projects.content }}
        </div> 
    </div>
{% endfor %}
    </div>
    <br></br>
<!-- </section>  -->
        
</section>    



<!-- Education -->

<section class="u-full-width" id="education"> 
        <div class="container" align="center">  
        <div class="headline" align="center">
            <p><span>Schooling &amp; Coursework</span></p>
            <h2>Education</h2>
        </div>
    </div>
    <div class="container">
{% for education in site.education reversed %}
    <div class="row">
            <div class="five columns">
                <h2 class="date">{{ education.period }}</h2>
                <h4 class="institution">{{ education.institution }}</h4>
            </div>
            <div class="seven columns">
            <h3>{{ education.title }}</h3>
            {{ education.content }}
            </div>
    </div>
{% endfor %}                
    </div>
</section>
    

<!-- Certificates and Awards blanked out for now -->
<!--
<section class="u-full-width parallax1" id="awards"> 
<div class="u-full-width darkbg">
        <div class="container" align="center">  
        <div class="headline" align="center">
            <p><span>Learning &amp; Training</span></p>
            <h2>Certifications</h2>
        </div>
    </div>
    <div class="container">
{% for certificates in site.certificates reversed %}
    <div class="row">  
        <div class="five columns">
                <h2 class="date">{{ certificates.issued }}</h2>
                <h4 class="institution">{{ certificates.issuer }}</h4>
            </div>
         <div class="seven columns">
            <h3>{{ certificates.title }}</h3>
        </div>
    </div>
{% endfor %} 
    </div>
</div>
<br></br>        
</section>
-->


<!-- Contributions -->

<section class="u-full-width parallax1" id="contributions"> 
<div class="u-full-width darkbg">
        <div class="container" align="center">  
        <div class="headline" align="center">
            <p><span>A Piece Of My Mind</span></p>
            <h2>Contributions</h2>
        </div>
        </div>
        {% for endeavor in site.endeavor %}
                <div class="container" align="center">
                {{ endeavor.content}}
                </div>   
        {% endfor %} 
    <div class="container">
{% for contributions in site.contributions %}
    <div class="row">  
        <div class="five columns">
                <h2 class="date">{{ contributions.published-date }}</h2>
                <h4 class="institution">{{ contributions.publisher }}</h4>
            </div>
         <div class="seven columns">
            <h3>{{ contributions.title }}</h3>
             <p class="authors">{{ contributions.authors }}</p>
             {{ contributions.content}}
             <p><a href="{{ contributions.link }}" class="button button-primary" target="_blank">Go To</a></p>
        </div>
    </div>
{% endfor %} 
    </div>
</div>
<br></br>        
</section>


<!-- Publications -->

<section class="u-full-width" id="publications"> 
    <div class="container" align="center">  
        <div class="headline" align="center">
        <p><span>Downloadable</span></p>
        <h2>Publications</h2>
        </div>
    </div>
    <div class="container">
{% for publications in site.publications reversed %}        
    <div class="row">  
        <div class="five columns">
                <h2 class="date">{{ publications.published-date }}</h2>
                <h4 class="institution">{{ publications.publisher }}</h4>
            </div>
         <div class="seven columns">
            <h3>{{ publications.title }}</h3>
        <p class="authors">{{ publications.authors }}</p>
        {{ publications.content}}
        <p><a href="{{ publications.link }}" class="button button-primary">Download</a></p>
        </div>
    </div>
{% endfor %}                 
    </div>
</section>
    

<!-- Skills original -->
<!--
<section class="u-full-width parallax2" id="skills"> 
<div class="u-full-width darkbg">
    <div class="container" align="center">  
        <div class="headline" align="center">
        <p><span>Areas of Expertise</span></p>
        <h2>Practice</h2>
        </div>
    </div>
    <div class="container">
{% for skills in site.skills reversed %}
    <div class="row">  
        <div class="five columns">
                <h2 class="date">{{ skills.title }}</h2>
            </div>
         <div class="seven columns">
            {{ skills.content }}
        </div>
    </div>
{% endfor %} 
    </div>
</div>
<br></br>
</section>
-->


<!-- Skills new -->

<section class="u-full-width parallax2" id="skills"> 
<div class="u-full-width darkbg">
    <div class="container" align="center">  
        <div class="headline" align="center">
        <p><span>Areas of Expertise</span></p>
        <h2>Practice</h2>
        </div>
    </div>
    <div class="container">
{% for skills in site.skills reversed %}
    <div class="row">  
        <div class="twelve columns" align="center">
                <h3 class="date">{{ skills.title }}</h3>
                <div class="twelve columns">___________________________________________________</div>
        </div>
    </div>
{% endfor %} 
    </div>
    <br></br>
</div>
<br></br>
</section>


<!-- Interests -->

<section class="u-full-width" id="interests"> 
    <div class="container" align="center">  
        <div class="headline" align="center">
        <p><span>Away From My Desk</span></p>
        <h2>Backstage</h2>
        </div>
    </div>
    <div class="container">
{% for interests in site.interests %}
    <div class="row">  
        <div class="five columns">
                <h2 class="date">{{ interests.title }}</h2>
            </div>
         <div class="seven columns">
            {{ interests.content }}
        </div>
    </div>
{% endfor %} 
    </div>
</section>
            

<!-- Added Physics of things within Interest container -->
 <section class="u-full-width parallax3" id="physics">   
 <div class="u-full-width darkbg">
        <div class="container" align="center">  
        <div class="headline" align="center">
        <p><span>Daily Clockwork</span></p>
        <h2>My Physics Of Things | POT</h2>
        </div>
        </div>
    <div class="container">
{% for physics in site.physics %}
    <div class="row">  
        <div class="twelve columns" align="center">
           <!-- <h2 class="date">{{ physics.title }}</h2> -->
                <h5>{{ physics.content }}</h5>
        </div>
    </div>
{% endfor %} 
    </div>
<!-- Added line break -->
    <br></br>
</div>
<!-- Added BTT button -->
<div class="u-full-width" align="right">
<button id="myBtn"><a href="#top" style="color: white">Top</a></button>
</div>

</section>



